Source: ros-hydro-turtlebot-dashboard
Section: misc
Priority: extra
Maintainer: "Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/turtlebot_dashboard
Standards-Version: 3.9.2

Package: ros-hydro-turtlebot-dashboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-create-dashboard, ros-hydro-kobuki-dashboard
Description: Launchers for the base-specific dashboards
