Source: ros-hydro-turtlebot-viz
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/turtlebot_viz
Standards-Version: 3.9.2

Package: ros-hydro-turtlebot-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-turtlebot-dashboard, ros-hydro-turtlebot-interactive-markers, ros-hydro-turtlebot-rviz-launchers
Description: Catkin meta-package for turtlebot_viz
